# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/todo-list-angulardist
/todo-list-angulartmp
/todo-list-angularout-tsc
/todo-list-angularbazel-out

# Node
/todo-list-angular/node_modules
/todo-list-angularnpm-debug.log
/todo-list-angularyarn-error.log

# IDEs and editors
/todo-list-angular.idea/
/todo-list-angular.project
/todo-list-angular.classpath
/todo-list-angular.c9/
/todo-list-angular*.launch
/todo-list-angular.settings/
/todo-list-angular*.sublime-workspace

# Visual Studio Code
/todo-list-angular.vscode/*
/todo-list-angular!.vscode/settings.json
/todo-list-angular!.vscode/tasks.json
/todo-list-angular!.vscode/launch.json
/todo-list-angular!.vscode/extensions.json
/todo-list-angular.history/*

# Miscellaneous
/todo-list-angular/.angular/cache
/todo-list-angular.sass-cache/
/todo-list-angular/connect.lock
/todo-list-angular/coverage
/todo-list-angular/libpeerconnection.log
/todo-list-angulartestem.log
/todo-list-angular/typings

# System files
.DS_Store
Thumbs.db

*.suo
*.user
*.sln.docstates

[Bb]in/
[Oo]bj/

[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds

.vs/
*.sentinel
*.pdb
*.dll
*.v1
*.v2
