<br>
<h1>ABOUT</h1>
<br>
<p>
    Hi I'm Tingyu. <br>
    I build this app to learn <strong>MongoDB</strong> and <strong>NUnit</strong>. <br>
    Also to pratice a few other things <br>
    such as <strong>JWT(Json Web Token)</strong> and <strong>Docker</strong>. <br>
    <br>
    
</p>
<br>
<p>Find me on: </p>
<div>
    <a href="https://www.linkedin.com/in/tingyujiang/">LinkedIn</a>&nbsp;
    <a href="https://medium.com/@jiang.tingyu">Medium</a>&nbsp;
    <a href="https://github.com/tingyuJ">GitHub</a>&nbsp;
</div>
<br><br>
<p>My other projects: </p>
<div>
    <a href="https://tingyuj.github.io/resume/">Personal Page</a>&nbsp;
    <a href="cs50fp-wordlehelper.herokuapp.com">Wordle Helper</a>&nbsp;
</div>